<!DOCTYPE html>
<html>
<head>
	<title>Chatroom</title>
	<meta name='description' content='Chatroom'>
	<meta name='keywords' content='Chatroom, FSE'>
	<meta name='author' content='dt'>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>

	<!--CSS Reset-->
	<link rel='stylesheet' type='text/css' href='/css/reset.css'>
	<!--Custom CSS-->
	<link rel='stylesheet' type='text/css' href='/css/main.css'>
	<!--Viewport Scaling-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Javascript-->
	<script type='text/javascript' src='/js/jquery-1.11.0.js'></script>
	<script type='text/javascript' src='/js/main.js'></script>
</head>
<body>
	<div id='container'>
		<div id='content'>
			<img src='/images/chatroom.png'></img>
			<h1>Chatroom</h1>
			<p>A revolutionary new chatting experience.</p>
			<form action='/' method='post'>
				<button id='newChatroomButton' type='submit'>New Chatroom</button>
			</form>
		</div>
	</div>
</body>
</html>